@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:100px">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h2>Tarih Ekle</h2><br />
        <div class="form-group text-center">
            @Html.Label("", "Başlangıç Tarihi", htmlAttributes: new { @class = "control-label " })
            <div class="col-md-12">


                <input type="date" class="form-control" id="dateStart" />
            </div>
        </div>

        <div class="form-group text-center">
            @Html.Label("", "Bitiş Tarihi", htmlAttributes: new { @class = "control-label " })
            <div class="col-md-12">


                <input type="date" class="form-control" id="dateEnd" />
            </div>
        </div>


        <div class="form-group text-center">


            <button type="button" id="btnDateCreate" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span>Tarihi Ekle
            </button>

        </div>
    </div>
    <div class="col-md-4"></div>

</div>


