
@{
    ViewData["Title"] = "LogList";
}

<div class="container">
    <div class="card mb-3" style="margin-top:100px">
        <div class="card-header text-center">
            <i class="fa fa-table"></i> Log Listesi
            </a>
        </div>
        <div class="card-body" ng-app="LogList">
            <div class="table-responsive" ng-controller="logList">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Log Listesi</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="x in loglist">
                            <td>{{x.log}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted text-center"> Log Listesi</div>
    </div>
</div>
